.container {
    background-color: #B5C6C8;
    min-height: 100vh
}

.container .btn {
    color: white;
    font-weight: bold;
}

.container .antall-boks {
    border-radius: 5px;
    border-color: white;
    height: 35px;
}